.close-icon {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 5px;
  color: red;
  line-height: 5px;
  min-width: auto;
  justify-self: right;
}

.mat-button{
  border: outset silver;
  border-radius: 3px;
}

.outer-card{
  display:grid;
  row-gap:10px;
  justify-self:center;
}