<mat-card>  
  <mat-card-content>    
    <P>Orginal Name:{{orignalName}}</P>
    <mat-form-field appearance="outline" class="form-control">   
      <mat-label>Name</mat-label>
      <input 
      matInput
      type="text"
      name="name"
      id="name"
      defaultValue="name"
      required
      [(ngModel)]="name"
      />
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" name="phoneNr" id="phoneNr" required 
        [(ngModel)]="phoneNr" />
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" class="form-control">
      <mat-label>City</mat-label>
      <input matInput type="text" name="city" id="city" required [(ngModel)]="city" />
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="onSave()" >Save</button>
    <button mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
  </mat-card-content>
</mat-card>
